@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --main-top: #1c1c1c;
  --main-bottom: #0282f9;
  --footer-list: #677071;
  --footer-bottom: #303030;

}

html {
  font-family: "Open Sans", serif;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* header */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure img {
  width: 60px;
}

header ul {
  display: flex;
  gap: 10px;
}

header ul li a {
  color: var(--main-top);
}

header a:hover {
  color: blue;
}


/* main */
#top-main {
  background-color: var(--main-top);
  color: white;
}

#bottom-main {
  background-color: var(--main-bottom);
  color: white;
  padding: 20px;
}

main figure img {
  width: 45px;
}

main figure {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* footer */

#footer-top {
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no repeat;
  padding: 20px;
}

footer a {
  color: var(--footer-list);
}

.white {
  color: white;
  font-size: 1.2rem;
}

#footer-top .bg-logo {
  background: url(../src/assets/img/dc-logo-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  gap: 20px;
}

#footer-bottom {
  background-color: var(--footer-bottom);
}

footer button {
  background-color: transparent;
  border-color: var(--main-bottom);
  padding: 10px;
  color: white;
}

#footer-bottom ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-bottom a {
  color: var(--main-bottom);
}

/* cards */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.card {
  padding: 20px;
}

.card img {
  height: 500px;
  width: 350px;
}