@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-top: #1c1c1c;
  --main-bottom: #0282f9;
  --footer-list: #677071;
  --footer-bottom: #303030;

}

html {
  font-family: "Open Sans", serif;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* header */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure img {
  width: 60px;
}

header ul {
  display: flex;
  gap: 10px;
}

header ul li a {
  color: var(--main-top);
}

header a:hover {
  color: blue;
}


/* main */
#top-main {
  background-color: var(--main-top);
  color: white;
}

#bottom-main {
  background-color: var(--main-bottom);
  color: white;
  padding: 20px;
}

main figure img {
  width: 45px;
}

main figure {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* footer */